<form [formGroup]="form">
  <tui-select formControlName="project" class="tui-space_bottom-4">
    Project
    <tui-data-list *tuiDataList>
      <button
        *ngFor="let item of context?.data?.projects"
        tuiOption
        [value]="item.type"
      >
        {{ item.title }}
      </button>
    </tui-data-list>
  </tui-select>

  <tui-select formControlName="lang" class="tui-space_bottom-4">
    Lang
    <tui-data-list *tuiDataList>
      <button *ngFor="let item of langs" tuiOption [value]="item.lang">
        {{ item.label }}
      </button>
    </tui-data-list>
  </tui-select>

  <tui-text-area formControlName="json" class="tui-space_bottom-4 field-large">
    json
  </tui-text-area>

  <button tuiButton size="s" [showLoader]="isLoading" (click)="onClick()">
    Enter
  </button>
</form>
