:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    width: 100%;
  }
}

.error-message {
  color: red;
  text-align: center;
}
