<div class="menu">
  <tui-hosted-dropdown
    tuiDropdownAlign="left"
    [content]="dropdownFrontend"
    [(open)]="openFr"
  >
    <button tuiButton size="s" type="button" [iconRight]="icon">
      Frontend translates
    </button>
  </tui-hosted-dropdown>

  <tui-hosted-dropdown
    tuiDropdownAlign="left"
    [content]="dropdownGames"
    [(open)]="openG"
  >
    <button tuiButton size="s" type="button" [iconRight]="icon">
      Games translates
    </button>
  </tui-hosted-dropdown>
  <ng-container *ngIf="isSuper">
    <button tuiButton size="s" (click)="openJsonUpdateForm()">
      Добавить | обнoвить (json)
    </button>

    <button tuiButton appearance="accent" size="s" (click)="openAddLocale()">
      Добавить язык
    </button>

    <button tuiButton appearance="accent" size="s" (click)="openLocaleEditor()">
      Редактор языков
    </button>
  </ng-container>
</div>

<app-translate-keys
  [lang]="lang"
  [project]="project"
  [update]="$update"
></app-translate-keys>

<ng-template #icon>
  <tui-svg
    src="tuiIconChevronDown"
    class="icon"
    [class.icon_rotated]="openG"
  ></tui-svg>
</ng-template>

<ng-template #dropdownFrontend>
  <tui-data-list>
    <button
      *ngFor="let lang of langs"
      tuiOption
      (click)="onClick('frontend', lang.lang)"
    >
      {{ lang.label }} {{ lang.active ? "" : " - неактивен" }}
    </button>
  </tui-data-list>
</ng-template>

<ng-template #dropdownGames>
  <tui-data-list>
    <button
      *ngFor="let lang of langs"
      tuiOption
      (click)="onClick('games', lang.lang)"
      [ngClass]="{ bold: lang.active }"
    >
      {{ lang.label }} {{ lang.active ? "" : " - неактивен" }}
    </button>
  </tui-data-list>
</ng-template>
